#main-menu {
  display: flex;
  justify-content: space-between;

  .navbar-nav a {
    letter-spacing: 0.1em !important;
  }
}

@media screen and (max-width: 999px) {
  #main-menu {
    .__navigation-logo {
      font-size: 1.1em;
    }

    .navbar-nav a {
        font-size: .8em;
    }

    .navbar-nav a {
      letter-spacing: auto !important;
    }
  }
}
